[submodule "external/library"]
	path = external/library
	url = https://github.com/khalilhenoud/library.git
[submodule "external/math"]
	path = external/math
	url = https://github.com/khalilhenoud/math.git
[submodule "external/collision"]
	path = external/collision
	url = https://github.com/khalilhenoud/collision.git
[submodule "external/windowing"]
	path = external/windowing
	url = https://github.com/khalilhenoud/windowing.git
[submodule "external/entity"]
	path = external/entity
	url = https://github.com/khalilhenoud/entity.git
[submodule "external/loaders"]
	path = external/loaders
	url = https://github.com/khalilhenoud/loaders.git
[submodule "external/renderer"]
	path = external/renderer
	url = https://github.com/khalilhenoud/renderer.git
[submodule "external/spatial"]
	path = external/spatial
	url = https://github.com/khalilhenoud/spatial.git
[submodule "external/texture"]
	path = external/texture
	url = https://github.com/khalilhenoud/texture.git
[submodule "external/material"]
	path = external/material
	url = https://github.com/khalilhenoud/material.git
[submodule "external/mesh"]
	path = external/mesh
	url = https://github.com/khalilhenoud/mesh.git
[submodule "external/level"]
	path = external/level
	url = https://github.com/khalilhenoud/level.git
[submodule "external/font"]
	path = external/font
	url = https://github.com/khalilhenoud/font.git
[submodule "external/elements"]
	path = external/elements
	url = https://github.com/khalilhenoud/props.git
[submodule "external/skeleton"]
	path = external/skeleton
	url = https://github.com/khalilhenoud/skeleton.git
[submodule "external/animation"]
	path = external/animation
	url = https://github.com/khalilhenoud/animation.git
